{% extends 'base.html' %}
{% block title %}Transfer Money{% endblock title %}

<!-- Navbar Button -->
{% block additem %}
<a href="{% url 'transferdetails' %}"><button class="btn rounded-pill text-white me-2"
        style="background-image: linear-gradient(to bottom right, orange, red);">Transaction Details</button></a>
<a href="{% url 'viewallcustomer' %}"><button class="btn rounded-pill float-end"
        style="background-image: linear-gradient(to bottom right, cyan, blue);">View All Customer</button></a>
{% endblock additem %}


<!-- Main Content Starts Here -->
{% block body %}

<!-- Messages Icons imported from Here -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<!-- Message Displays Here -->
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
        <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
        {{message}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- Transaction Window -->
<div class="container mt-4" style="height:  80vh">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12  d-block">
            <h5 class="text-center fs-1 fw-bolder text-dark">Transfer Money</h5>
            <hr>
            <form method="POST" class="mt-4">
                {% csrf_token %}
                <label for="semail" class="form-label fw-bold">Send Money From:</label>
                <select name="semail" class="form-select" style="color:black" required>
                    <option class="form-control" style="color:black" value="select">Select</option>
                    {% for cust in customer %}
                    <option class="form-control" style="color:black" value="{{cust.email}}">[AccNo.:
                        {{cust.acc_number}}]: {{cust.name}} -> AccBal: &#8377;{{cust.curr_balance}} -> {{cust.email}}
                    </option>
                    {% endfor %}
                </select>
                <br>
                <label for="amount" class="form-label fw-bold">Enter Amount:</label>
                <input type="number" class="form-control" style="color:black" name="amount" value="null"
                    placeholder="&#8377;0000" required>
                <br>
                <label for="remail" class="form-label fw-bold">Send Money To:</label>
                <select name="remail" class="form-select" required>
                    <option class="form-control" style="color:black" value="select">Select</option>
                    {% for cust in customer %}
                    <option class="form-control" style="color:black" value="{{cust.email}}">{{cust.name}}: -> AccNo.:
                        {{cust.acc_number}} -> Email: {{cust.email}}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-info rounded-pill">
                    Transfer</button>
            </form>

        </div>
    </div>
</div>

{% endblock body %}